#PORT
PORT=3000

#DB
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=hono-api
DB_HOST=localhost
DB_PORT=5432

# Buffer.from(crypto.getRandomValues(new Uint8Array(16))).toString("hex")
# use the above command to generate random hex string of 16 bytes in node run mode or use the below given already generated hex code
JWT_SECRET=cb2a06a2aa6700c3ccc48d8cf83626a1